@import "./utils/variables";
//@import "./utils/functions";
@import "./utils/mixins";
//@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
//@import "./layout/container";
@import "./layout/footer";

//*************************On load

.animateOpacity {
  animation: opacityLoader 800ms 4000ms ease both;
}

@keyframes opacityLoader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//*************************section1 location

.section1__location {
  background-color: $clr-location;
  display: flex;
  justify-content: center;
  align-items: center;
  .fas {
    padding: 1.1rem 1rem 1.1rem 0;
  }
  h2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
  }
}

//*************************index section1 title
.section1__title {
  background-color: $clr-bgMain;
  text-align: center;
  z-index: -1;
  h1 {
    padding: 2.5rem 0 0 0;
  }
  h2 {
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 1rem 0 0 0;
  }
}

//*************************index section2

.section2 {
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  padding: $padding-gutter;
  padding-bottom: 3rem;
  h1 {
    padding: $padding-h1;
  }
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__label {
    width: 100%;
    background: $clr-bgMain;
    display: flex;
    align-items: center;
    padding: 1.8rem;
    margin: 1rem 0;
    box-shadow: 0px 5px 7px lighten($clr-btnMain-shadow, 10%);
    border-radius: 20px;
    position: relative;
    p {
      width: 1.5rem;
      height: 1.5rem;
      background: $clr-primary;
      padding: 0.5rem;
      color: white;
      font-weight: 400;
      font-size: 0.8rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -0.8rem;
    }
    .fas {
      padding: 0 1rem;
      font-size: 1rem;
      color: darken($clr-bgMain, 50%);
    }
    &:hover {
      background: lighten($clr-primary, 35%);
      cursor: pointer;
      .fas {
        color: $clr-primary;
      }
    }
  }
}

//*************************index section3

.section3 {
  padding: $padding-gutter;
  background: $clr-bgMain;
  display: flex;
  flex-direction: column;
  h1 {
    padding: $padding-h1;
  }
}

.restaurantCard {
  background: $clr-bgNeutral;
  width: 100%;
  border-radius: 1.25rem;
  margin-bottom: 2.5rem;
  @include restaurantCard-shadow;
  // @include restaurantCard-opacity;
  &__img {
    position: relative;
    .newLabel {
      @include newLabel;
    }
    picture img {
      width: 100%;
      height: auto;
      border-radius: 1.25rem 1.25rem 0 0;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0 0.8rem 0;
  }
  &__nameLocation {
    padding-left: 1rem;
  }
  .far {
    font-size: 1.6rem;
    padding: 0.4rem 1.55rem 0 0;
  }
}

//*************************resto section

.restoContainer {
  position: absolute;
  top: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $clr-bgMain;
  padding: $padding-gutter;
  border-radius: 2.5rem 2.5rem 0 0;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-top: 2.188rem;
    h1 {
      font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
      font-size: 1.6rem;
    }
    .position {
      top: 0.2rem;
    }
    .far {
      font-size: 1.7rem;
      padding-right: 1.5rem;
    }
  }
  .restoBtn {
    margin-bottom: 5rem;
  }
}
.dishesBloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__title {
    position: relative;
    @include dishesBloc-title;
    &::after {
      content: "";
      width: 2.5rem;
      position: absolute;
      border-bottom: 0.3rem solid $clr-tertiary;
      top: 4.2rem;
      left: 0;
    }
  }
}

.dishesGroup {
  background: white;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
  @include dishesGroup-shadow;
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
      font-size: 1.1rem;
      position: relative;
      flex: 1 100%;
      padding-bottom: 0.1rem;
    }
    p {
      font-size: 0.9rem;
    }
    .price {
      font-weight: 700;
      transform: translateX(0);
      transition: transform 500ms 70ms;
      background: white;
      position: absolute;
      padding: 1.5rem 2rem 0 0;
      left: 18rem;
    }
  }
  &__dots {
    font-size: 1.2rem;
    font-weight: 700;
    top: 1.05rem;
    @include dots;
    &--regular {
      font-size: 0.9rem;
      top: 2.45rem;
      @include dots;
    }
  }
  &__check {
    background: $clr-tertiary;
    position: absolute;
    top: 0;
    left: 21rem;
    transform: translateX(0);
    transition: transform 500ms;
    .fas {
      color: white;
      padding: 1.75rem 1.2rem;
      font-size: 1.5rem;
    }
  }
  &__animation {
    animation: dishesGroup-animation 2000ms;
    &--delay1 {
      animation-delay: 200ms;
    }
    &--delay2 {
      animation-delay: 500ms;
    }
    &--delay3 {
      animation-delay: 800ms;
    }
  }
  &:hover .dishesGroup__check {
    @include animationCheckPrice;
  }
  &:hover .price {
    @include animationCheckPrice;
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg);
    transition: transform 700ms ease-in-out;
  }
  &:hover .dishesGroup__dots {
    @include animationDots;
  }
  &:hover .dishesGroup__dots--regular {
    @include animationDots;
  }
}

@keyframes dishesGroup-animation {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//*************************SpinningLoader

#spinningLoader {
  background: $grd-btnMain;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: absolute;
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  background-image: linear-gradient(
    135deg,
    $clr-primary 50%,
    $clr-tertiary 80%
  );
  border-radius: 50%;
  animation: rotate 2000ms linear infinite;
}

.inner-ring {
  position: absolute;
  left: calc(50% - 45px);
  height: 90px;
  width: 90px;
  background-image: $grd-btnMain;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
