@import "./utils/variables";
//@import "./utils/functions";
//@import "./utils/mixins";
//@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

//@import "./components/buttons";

//@import "./layout/header";
//@import "./layout/container";

//*************************headerMain
.headerMain {
  box-shadow: 0px 3px 5px 0px rgba(121, 121, 121, 0.4);
  position: relative;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 55%;
    padding: 1rem;
  }
}

//*************************section1 location

.section1__location {
  background-color: $clr-location;
  display: flex;
  justify-content: center;
  align-items: center;
  .fas {
    padding: 1.1rem 1rem;
  }
  h2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
  }
}

//*************************section1 title
.section1__title {
  background-color: $clr-bgMain;
  text-align: center;
  h1 {
    padding: 2rem 0 0 0;
  }
  h2 {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.2;
    padding: 1rem 0 0 0;
  }
}
