@import "./utils/variables";
//@import "./utils/functions";
@import "./utils/mixins";
//@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
//@import "./layout/container";
@import "./layout/footer";

//*************************section1 location

.section1__location {
  background-color: $clr-location;
  display: flex;
  justify-content: center;
  align-items: center;
  .fas {
    padding: 1.1rem 1rem 1.1rem 0;
  }
  h2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1rem;
  }
}

//*************************index section1 title
.section1__title {
  background-color: $clr-bgMain;
  text-align: center;
  h1 {
    padding: 2.5rem 0 0 0;
  }
  h2 {
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 1rem 0 0 0;
  }
}

//*************************index section2

.section2 {
  display: flex;
  flex-direction: column;
  padding: $padding-gutter;
  padding-bottom: 3rem;
  h1 {
    padding: $padding-h1;
  }
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__label {
    width: 100%;
    background: $clr-bgMain;
    display: flex;
    align-items: center;
    padding: 1.8rem;
    margin: 1rem 0;
    box-shadow: 0px 5px 7px lighten($clr-btnMain-shadow, 10%);
    border-radius: 20px;
    position: relative;
    p {
      width: 1.5rem;
      height: 1.5rem;
      background: $clr-primary;
      padding: 0.5rem;
      color: white;
      font-weight: 400;
      font-size: 0.8rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -0.8rem;
    }
    .fas {
      padding: 0 1rem;
      font-size: 1rem;
      color: darken($clr-bgMain, 50%);
    }
    &:hover {
      background: lighten($clr-primary, 35%);
      cursor: pointer;
      .fas {
        color: $clr-primary;
      }
    }
  }
}

//*************************index section3

.section3 {
  padding: $padding-gutter;
  background: $clr-bgMain;
  display: flex;
  flex-direction: column;
  h1 {
    padding: $padding-h1;
  }
}

.restaurantCard {
  background: $clr-bgNeutral;
  width: 100%;
  border-radius: 1.25rem;
  margin-bottom: 2.5rem;
  @include restaurantCard-shadow;
  // @include restaurantCard-opacity;
  &__img {
    position: relative;
    .newLabel {
      @include newLabel;
    }
    picture img {
      width: 100%;
      height: auto;
      border-radius: 1.25rem 1.25rem 0 0;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0 0.8rem 0;
  }
  &__nameLocation {
    padding-left: 1rem;
  }
  .far {
    padding: 0.4rem 1.55rem 0 0;
    font-size: 1.6rem;
  }
}

//*************************resto section

.restoContainer {
  position: absolute;
  top: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $clr-bgMain;
  padding: $padding-gutter;
  border-radius: 2.5rem 2.5rem 0 0;
  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.188rem;
    h1 {
      font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
      font-size: 1.8rem;
    }
    .far {
      font-size: 1.7rem;
      padding-right: 1.5rem;
    }
  }
  .restoBtn {
    margin-bottom: 5rem;
  }
}
.dishesBloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    padding: 2.3rem 0 0.7rem 0;
    position: relative;
    &::after {
      content: "";
      width: 2.5rem;
      position: absolute;
      border-bottom: 0.3rem solid $clr-tertiary;
      top: 4.2rem;
      left: 0;
    }
  }
}

.dishesGroup {
  background: white;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1.25rem;
  @include dishesGroup-shadow;
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-items: flex-end;
    h3 {
      font-size: 1.2rem;
      flex: 1 100%;
    }
    p {
      font-size: 0.9rem;
    }
    .price {
      //font-size: 1.2rem;
      font-weight: 700;
    }
  }
  &__check {
    display: none;
  }
}
