.dishesGroup {
  background: white;
  width: 100%;
  margin-top: 1rem;
  border-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 4.5rem;
  @include dishesGroup-shadow;
  &__item {
    @include ellipsis;
    width: 100%;
    padding-left: 1rem;
    z-index: 1;
  }
  &__title {
    @include ellipsis;
  }
  &__paragraph {
    font-size: 0.9rem;
    @include ellipsis;
  }
  .price {
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    height: 2.75rem;
    transform: translateX(0);
    transition: transform 500ms;
    padding-right: 1.5rem;
    background: white;
    position: absolute;
    right: 0;
  }
  &__check {
    background: $clr-tertiary;
    transform: translateX(0);
    transition: transform 500ms;
    width: 4.1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    position: absolute;
    right: -4.1rem;
    .fas {
      color: white;
      font-size: 1.5rem;
    }
  }
  &__animation {
    animation: animateDishesGroup 2000ms;
    &--delay1 {
      animation-delay: 200ms;
    }
    &--delay2 {
      animation-delay: 500ms;
    }
    &--delay3 {
      animation-delay: 800ms;
    }
  }
  &:hover &__check,
  &:hover .price {
    @include animationCheckPrice;
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg);
    transition: transform 500ms linear;
  }
  &:hover .dishesGroup__item,
  &:hover .dishesGroup__title,
  &:hover .dishesGroup__paragraph {
    animation: strokeLine 300ms ease-out both;
  }
}

//*************************media-queries

@media screen and (min-width: map-get($breakpoints, mobile)) {
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
  .dishesGroup {
    h3 {
      font-size: 0.9rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
}
