//*************************footer

footer {
  padding: $padding-gutter;
  background: $clr-bgFooter;
  padding-bottom: 2.5rem;
  img {
    width: 30%;
    max-width: 150px;
    padding: 1.8rem 0 1rem 0;
  }
  ul {
    li {
      a {
        color: white;
        font-weight: 300;
        .fa-utensils {
          padding-right: 0.8rem;
        }
        .fa-hands-helping {
          padding-right: 0.41rem;
        }
        &:hover {
          color: $clr-secondary;
        }
      }
    }
  }
}
