//*************************On load

.animateOpacity {
  animation: opacityHome 800ms 3000ms ease both;
}

@keyframes opacityHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
