.mainBtn {
  width: 60%;
  margin: 2.5rem 0;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 999px;
  cursor: pointer;
  color: white;
  @include btnMain-bg;
  @include btnMain-shadow;
}

//****************************heartBtn

.heartBtn {
  display: block;
  position: relative;
  top: 0.5rem;
  left: -0.2rem;
  opacity: 0;
  transform: scale(1);
  transform-origin: center;
  transition: transform 700ms ease;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1.5rem;
    border-radius: 1rem 1rem 0 0;
  }
  &::before {
    left: 1rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    background: $grd-btnHeart-right;
  }
  &::after {
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background: $grd-btnHeart-left;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
}
