*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

@font-face {
  font-family: "shrikhandregular";
  src: url("font/shrikhand-regular-webfont.eot");
  src: url("font/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/shrikhand-regular-webfont.woff2") format("woff2"), url("font/shrikhand-regular-webfont.woff") format("woff"), url("font/shrikhand-regular-webfont.ttf") format("truetype"), url("font/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 1.2;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
}

.mainBtn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.mainBtn {
  width: 60%;
  max-width: 20rem;
  margin: 2.5rem 0;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  background: none;
  border-radius: 999px;
  cursor: pointer;
  color: white;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 5px 7px #c5c5c5;
}
.mainBtn:hover {
  background: linear-gradient(0deg, #ae80e5 0%, #fface8 100%);
}
.mainBtn:hover {
  box-shadow: 0px 5px 7px #acacac;
}

.heartBtn {
  display: block;
  position: relative;
  top: 0.52rem;
  left: -0.28rem;
  opacity: 0;
  transform-origin: center;
}
.heartBtn::before, .heartBtn::after {
  position: absolute;
  content: "";
  width: 1.1rem;
  height: 1.6rem;
  border-radius: 1.1rem 1.1rem 0 0;
}
.heartBtn::before {
  left: 1.1rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
}
.heartBtn::after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  background: linear-gradient(-45deg, #ff79da 0%, #9356dc 100%);
}
.heartBtn:hover {
  opacity: 1;
  transition: all 100ms ease-out;
}

.headerMain {
  box-shadow: 0px 3px 5px 0px rgba(121, 121, 121, 0.4);
  position: relative;
}
.headerMain a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerMain__logo {
  width: 55%;
  max-width: 200px;
  padding: 1rem;
}

.headerResto {
  position: relative;
  width: 100%;
}
.headerResto__returnBtn {
  position: absolute;
  font-size: 1.3rem;
  padding: 1.4rem;
}
.headerResto__returnBtn a:hover {
  color: #9356dc;
}
.headerResto a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerResto__logo {
  width: 55%;
  max-width: 200px;
  padding: 1rem;
}
.headerResto picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.restoContainer {
  position: absolute;
  top: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  padding: 0 1.5rem;
  border-radius: 2.5rem 2.5rem 0 0;
}
.restoContainer__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-top: 2.188rem;
}
.restoContainer__title h1 {
  font-family: "shrikhandregular", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.restoContainer__title .position {
  top: 0.2rem;
}
.restoContainer__title .far {
  font-size: 1.7rem;
  padding-right: 1.5rem;
}
.restoContainer .restoBtn {
  margin-bottom: 5rem;
}

@media screen and (min-width: 992px) {
  .restoContainer {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(3, minmax(0, 60rem)) minmax(0px, 1fr);
    grid-template-rows: repeat(auto-fill, 3, 1fr);
    column-gap: 2rem;
    width: 100%;
    align-items: flex-start;
  }
  .restoContainer .restoContainer__title {
    grid-row: 1;
    grid-column: 2/-2;
  }
  .restoContainer .bloc1 {
    grid-column: 2;
    grid-row: 2;
  }
  .restoContainer .bloc2 {
    grid-column: 3;
    grid-row: 2;
  }
  .restoContainer .bloc3 {
    grid-column: 4;
    grid-row: 2;
  }
  .restoContainer .restoBtn {
    grid-column: 2/-2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
  }
}
.dishesBloc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dishesBloc__title {
  position: relative;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  padding: 2.3rem 0 0.7rem 0;
}
.dishesBloc__title::after {
  content: "";
  width: 2.5rem;
  position: absolute;
  border-bottom: 0.3rem solid #99e2d0;
  top: 4.2rem;
  left: 0;
}

.dishesGroup {
  background: white;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 7px #ebebeb;
}
.dishesGroup__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.dishesGroup__item h3 {
  font-size: 1.05rem;
  position: relative;
  flex: 1 100%;
  padding-bottom: 0.1rem;
}
.dishesGroup__item p {
  font-size: 0.9rem;
}
.dishesGroup__item .price {
  font-weight: 700;
  transform: translateX(0);
  transition: transform 500ms;
  background: white;
  position: absolute;
  padding: 1.5rem 2rem 0 0;
  right: 0.01rem;
}
.dishesGroup__dots {
  font-size: 1.05rem;
  font-weight: 700;
  top: 0.9rem;
  position: absolute;
  background: white;
  right: -3.9rem;
  padding-right: 1.5rem;
  transform: translateX(0);
  transition: transform 500ms;
}
.dishesGroup__dots--regular {
  font-size: 0.9rem;
  top: 2.35rem;
  position: absolute;
  background: white;
  right: -3.9rem;
  padding-right: 1.5rem;
  transform: translateX(0);
  transition: transform 500ms;
}
.dishesGroup__check {
  background: #99e2d0;
  position: absolute;
  top: 0;
  right: -4.1rem;
  transform: translateX(0);
  transition: transform 500ms;
}
.dishesGroup__check .fas {
  color: white;
  padding: 1.75rem 1.3rem;
  font-size: 1.5rem;
}
.dishesGroup__animation {
  animation: dishesGroup-animation 2000ms;
}
.dishesGroup__animation--delay1 {
  animation-delay: 200ms;
}
.dishesGroup__animation--delay2 {
  animation-delay: 500ms;
}
.dishesGroup__animation--delay3 {
  animation-delay: 800ms;
}
.dishesGroup:hover .dishesGroup__check {
  transform: translateX(-3.9rem);
}
.dishesGroup:hover .price {
  transform: translateX(-3.9rem);
}
.dishesGroup:hover .fa-check-circle {
  transform: rotate(360deg);
  transition: transform 700ms ease-in-out;
}
.dishesGroup:hover .dishesGroup__dots {
  transform: translateX(-10.7rem);
}
.dishesGroup:hover .dishesGroup__dots--regular {
  transform: translateX(-10.7rem);
}

@keyframes dishesGroup-animation {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 992px) {
  .dishesGroup h3 {
    font-size: 0.9rem;
  }
  .dishesGroup p {
    font-size: 0.7rem;
  }
  .dishesGroup__dots--regular {
    top: 2.15rem;
  }
}
footer {
  padding: 0 1.5rem;
  background: #353535;
  padding-bottom: 2.5rem;
}
footer img {
  width: 30%;
  max-width: 150px;
  padding: 1.8rem 0 1rem 0;
}
footer ul li a {
  color: white;
  font-weight: 300;
}
footer ul li a .fa-utensils {
  padding-right: 0.8rem;
}
footer ul li a .fa-hands-helping {
  padding-right: 0.41rem;
}
footer ul li a:hover {
  color: #ff79da;
}

.restoPage {
  position: absolute;
  top: 100rem;
  width: 100%;
}

.restoPage2 {
  position: absolute;
  top: 106rem;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .restoPage {
    top: 54rem;
  }

  .restoPage2 {
    top: 59rem;
  }
}
#spinningLoader {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: absolute;
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  background-image: linear-gradient(135deg, #9356dc 50%, #99e2d0 80%);
  border-radius: 50%;
  animation: rotate 2000ms linear infinite;
}

.inner-ring {
  position: absolute;
  left: calc(50% - 45px);
  height: 90px;
  width: 90px;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animateOpacity {
  animation: opacityLoader 800ms 4000ms ease both;
}

@keyframes opacityLoader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section1__location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1__location .fas {
  padding: 1.1rem 1rem 1.1rem 0;
}
.section1__location h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1rem;
}

.section1__title {
  background-color: #f6f6f6;
  text-align: center;
  z-index: -1;
}
.section1__title h1 {
  padding: 2.5rem 0 0 0;
}
.section1__title h2 {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.2;
  padding: 1rem 0 0 0;
}

.section2 {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  padding-bottom: 3rem;
}
.section2 h1 {
  padding: 3.2rem 0 2rem 0;
}
.section2__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2__label {
  width: 100%;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  padding: 1.8rem;
  margin: 1rem 0;
  box-shadow: 0px 5px 7px #dfdfdf;
  border-radius: 20px;
  position: relative;
}
.section2__label p {
  width: 1.5rem;
  height: 1.5rem;
  background: #9356dc;
  padding: 0.5rem;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -0.8rem;
}
.section2__label .fas {
  padding: 0 1rem;
  font-size: 1rem;
  color: #777777;
}
.section2__label:hover {
  background: #f2eafb;
  cursor: pointer;
}
.section2__label:hover .fas {
  color: #9356dc;
}

.section3 {
  padding: 0 1.5rem;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.section3 h1 {
  padding: 3.2rem 0 2rem 0;
}

.restaurantCard {
  background: white;
  width: 100%;
  border-radius: 1.25rem;
  margin-bottom: 2.5rem;
  box-shadow: 0px 5px 7px #c5c5c5;
}
.restaurantCard:hover {
  box-shadow: 0px 5px 7px #acacac;
}
.restaurantCard__img {
  position: relative;
}
.restaurantCard__img .newLabel {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  background: #99e2d0;
  padding: 0.2rem 0.8rem;
  color: #278870;
  font-weight: 700;
  border-radius: 0.2rem;
  letter-spacing: 0.03rem;
  font-size: 0.8rem;
}
.restaurantCard__img picture img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem 1.25rem 0 0;
  object-fit: cover;
}
.restaurantCard__info {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0 0.8rem 0;
}
.restaurantCard__nameLocation {
  padding-left: 1rem;
}
.restaurantCard .far {
  font-size: 1.6rem;
  padding: 0.4rem 1.55rem 0 0;
}

@media screen and (min-width: 768px) {
  .section2__group {
    flex-direction: row;
    justify-content: space-between;
  }
  .section2__label {
    width: 30%;
  }

  .section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 3, 1fr);
    column-gap: 2.5rem;
  }
  .section3 .card1 {
    grid-column: 1;
    grid-row: 2;
  }
  .section3 .card2 {
    grid-column: 2;
    grid-row: 2;
  }
  .section3 .card3 {
    grid-column: 1;
    grid-row: 3;
  }
  .section3 .card4 {
    grid-column: 2;
    grid-row: 3;
  }
}

/*# sourceMappingURL=style.css.map */
