//*************************Main button

@mixin btnMain-bg {
  background: $grd-btnMain;
  &:hover {
    background: linear-gradient(
      0deg,
      lighten($clr-primary, 10%) 0%,
      lighten($clr-secondary, 10%) 100%
    );
  }
}

@mixin btnMain-shadow($colour: $clr-btnMain-shadow) {
  box-shadow: 0px 5px 7px $colour;
  &:hover {
    box-shadow: 0px 5px 7px darken($colour, 10%);
  }
}

//*************************Section2 label

@mixin newLabel {
  position: absolute;
  top: 0.8rem;
  left: 14.5rem;
  background: $clr-tertiary;
  padding: $padding-newLabel;
  color: darken($clr-tertiary, 40%);
  font-weight: 700;
  border-radius: 0.2rem;
  letter-spacing: 0.03rem;
  font-size: 0.8rem;
}
