$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;

$clr-bgMain: #f6f6f6;
$clr-bgNeutral: white;
$clr-location: #eaeaea;
$clr-bgFooter: #353535;

$clr-btnMain-shadow: #c5c5c5;
$grd-btnMain: linear-gradient(0deg, $clr-primary 0%, $clr-secondary 100%);

//**************************list

$padding-gutter: 0 1.5rem;
$padding-h1: 3.2rem 0 0.8rem 0;
$padding-newLabel: 0.2rem 0.8rem;
