$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;

$clr-bgMain: #f6f6f6;
$clr-bgNeutral: white;
$clr-location: #eaeaea;
$clr-bgFooter: #353535;

$clr-btnMain-shadow: #c5c5c5;
$grd-btnMain: linear-gradient(0deg, $clr-primary 0%, $clr-secondary 100%);
$grd-btnHeart-right: linear-gradient(
  45deg,
  $clr-secondary 0%,
  $clr-primary 100%
);
$grd-btnHeart-left: linear-gradient(
  -45deg,
  $clr-secondary 0%,
  $clr-primary 100%
);

//**************************map

$breakpoints: (
  mobile: 768px,
  desktop: 992px,
);
